@model IEnumerable<UserMadeOrderViewModel>
@using Website.ViewModels.OrderViewModels

@{
    ViewData["Title"] = "My orders";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

@foreach (var order in Model)
{
    <div class="row align-items-center mb-4 py-3" style="border-bottom: 1px solid #ccc;">
        <div class="col-md-2 text-center">
            <img src="~/Images/truck.jpg" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="No Image Available" />
        </div>
        <div class="col-md-4 text-start">
            <h4>Order made on:</h4>
            <h5 class="mb-0">@order.DateOnOrderMade</h5>
        </div>
        <div class="col-md-3 text-start">
            <h4>Status:</h4>
            <h5 class="mb-0">@order.StatusType</h5>
        </div>
        <div class="col-md-2 text-start">
            <h4>Order is awaited to arrive on the following date:</h4>
            <h5 class="mb-0">@order.ApproximetlyArrivalDate</h5>
        </div>
        <div class="col-md-4 text-end">
            <a asp-controller="Home" asp-action="Order" asp-route-id="@order.OrderId" class="btn btn-info me-2 w-50">View order details</a>
        </div>
    </div>
}